---
layout: base
title: Changes
tags: page
key: Change
order: 6
---
<h1 class="text-center text-3xl">{{ title }}</h1>
<div class="text-center text-color-red">
    On this page will be recorded the changes since
    August 10, 2013.
</div>
<br>
<div class="ml-5">
<h2 class="text-2xl">Changes on August 11, 2023</h2>
<br>
<ol class="list-decimal list-inside center">
    <li>Fix spelling errors in my last blog</li>
    <li>Change the look of the gallery</li>
</ol>
<br>
<h2 class="text-2xl">Changes on August 10, 2023</h2>  
<br>
<ol class="list-decimal list-inside">
    <li>Added a change page (This page)</li>
    <li>Change the order of blog posts so the latest one appers first</li>
    <li>Added another blog</li>
</ol>
</div>