---
layout: layouts/home.njk
title: Contact Page
tags: page
eleventyNavigation:
    key: Contact
    order: 5
---
<h1>{{ title }}</h1>
<hr>
<div class="grid-container">
<div class="grid-item text-center">
<h2>Email</h2>
<a href="mailto:kensarco120353@gmail.com">kensarco120353@gmail.com</a>
<br>
<a href="mailto:kens7601@hotmail.com">kens7601@hotmail.com</a>
</div>
</div>
<div class="grid-item text-center">
<h2>Social Media</h2>
TWITTER: <a href="https://twitter.com/kens761">@kens761</a>
<br>
Facebook: <a href="https://facebook.com/kens7601">kens7601</a> 
<br>
</div>
<br>
<div class="grid-item ml-8 mr-8 mt-4">
The Hotmail address gets a lot of mail so if you 
want a faster reply then send mail to the gmail
address.
Rude emails will be ignored... On twitter and 
Facebook rude comments will not get any response and 
in all likely hood will be blocked.
</div>