---
layout: base.njk
title: Contact Page
tags: page
key: Contact
order: 4
---
<h1 class="text-5xl font-semibolds text-center mb-7">{{ title }}</h1>
<h2 class="text-2xl text-center">Email</h2>
<div class="grid justify-center">
<a href="mailto:kens7601@hotmail.com">kens7601@hotmail.com</a>
<a href="mailto:kensarco120353@gmail.com">kensarco120353@gmail.com</a>
<br>
TWITTER:
<a href="https://twitter.com/kens761">@kens761</a>
Facebook:
<a href="https://facebook.com/kens7601">kens7601</a> 
<br>
</div>
<div class="grid grid-col-3 ml-8 mr-8 mt-4">
The Hotmail address gets a lot of mail so if you 
want a faster reply then send mail to the gmail
address.
Rude emails will be ignored... On twitter and 
Facebook rude comments will not get any response and 
in all likely hood will be blocked.
</div>