---
layout: base 
title: Picture Gallery
tags: page
key: Gallery
order: 5
--- 
<h1 class="text-center text-3xl">{{ title }}</h1>
<hr>
<div class="mt-12 grid md:grid-cols-3 gap-8">
<img src="/assets/images/MyWifeandI.jpg" alt="y Wife and I">
<p class="mt-2">
This photo is of my wife and I. I am sure 
you can tell whose who in that picture.
</p>
<img src="/assets/images/The Girls and I.jpg" alt="Girls and I">
<p class="mt-2">
This photo is of the girls and I. The one 
to the left is Ashley. The one to the right is Tintin.
</p>
</div>
