---
layout: layouts/home.njk 
title: Photo Gallery
tags: page
eleventyNavigation:
    key: Gallery
    order: 6
--- 
<h1 class="center">{{ title }}</h1>
<hr>
<div class="flex-container">
<div>
<img src="/img/MyWifeandI.jpg" alt="My Wife and I" width="300px">
</div>
<div>
<img src="/img/The Girls and I.jpg" alt="Girls and I" width="300px">
</div>
