---
layout: base.njk
title: Home
tags: page
key: Home
order: 1
---
<div class="flex items-center">
<img src="/assets/images/KennethStevens.jpg" alt="Picture of me" width=300px>
<span>
This is me.  My name is Ken Stevens.
This is where I will post my blog, devotions,
and eventually I will put my portfolio about things that 
I've done and things I am working on. Read <a href="/about">About me</a> page.
</span>
</div>