---
layout: layouts/home.njk
title: Home
tags: page
eleventyNavigation:
    key: Home
    order: 1
---
<div class="flex-container">
<div>
<img src="/img/KennethStevens.jpg" alt="Picture of me" width=300px>
</div>
<div class="pt-50 text-container">
This is me.  My name is Ken Stevens.
This is where I will post my blog, devotions,
and eventually I will put my portfolio about things that 
I've done and things I am working on. Read <a href="/about/">About me</a> page.
</div>
</div>